<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script>
    window.opener.location = "/";
    window.close();
</script>
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
<div id="tabs">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#tabs-1">Tab 1</a></li>
    <li><a href="#tabs-2">Tab 2</a></li>
    <li><a href="#tabs-3">Tab 3</a></li>
  </ul>
  <div id="home">
     <h3>This is your Home Page.</h3>
  </div>
  <div id="tabs-1">
    <h3>Welcome <%= current_user.first_name %></h3>
    <p>
      Your Relationship Status : <span style="color: red;"><%= current_user.relationship_status %></span>
    </p>
  </div>
  <div id="tabs-2">
    <h3>Update Your Facebook status</h3>
    <%= text_area_tag :new_status,"",:placeholder => "Whats on your mind?", :class => "new_status_field" %>
    <%= button_to_function "Post on Facebook","update_facebook_status()" %>
  </div>
  <div id="tabs-3">
    <% current_user.feeds.each do |feed| %>
        <div class="feed_div">
          <table width="100%">
            <tr>
                <td colspan="2"><%= feed.story %></td>
            </tr>
            <tr>
              <td align="left" class="feed_time"><%= distance_of_time_in_words_to_now(Time.parse(feed.feed_creation_time)) %> ago</td>
              <td align="right" class="feed_time"><%= feed.comment_count %> comments</td>
            </tr>
          </table>
        </div>
    <% end %>
  </div>
</div>

<script>
  function update_facebook_status() {
      $.ajax({
         url : "<%= update_fb_status_path %>",
         data : "status=" + $('#new_status').val(),
         success : function(data){
               $('#success_div').html("Your Facebook status has been updated successfully!");
               $('#new_status').val('');
          }
     });
  }
</script>